pre code {
  background: transparent !important;
}

.reveal pre {
 box-shadow: none !important;   
}

.big-code {
  font-size: 105% !important;
  line-height: 1.25 !important;
}

.medium-code {
     font-size: 90% !important;
    line-height: 1.1 !important;
}