.reveal .slides h3,
.reveal .slides h4,
.reveal .slides h5,
.reveal .slides h6 {
    line-height: 1.2;
}

pre code {
    background: transparent !important;
}
.reveal pre {
    box-shadow: none !important;
}

.reveal pre.inline {
   width: initial !important;
   text-align: inherit !important;
}

.reveal pre.error {
     color: red !important;
}
.reveal blockquote {
    text-align: left !important;
    border: none !important;
    background: transparent !important;
    font-style: normal !important;
}
.reveal blockquote footer {
    text-align: right !important;
    font-size: 60%;
}

.reveal .big-quote {
    font-size: 150%;
    width: 100%;
}
.reveal section img {
    margin: 0 !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    vertical-align: bottom;
}

.reveal section img.border {
    margin: 15px 0px !important;
    background: rgba(255, 255, 255, 0.12) !important;
    border: 4px solid #eeeeee !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
}

.big-code {
    font-size: 105% !important;
    line-height: 1.25 !important;
}
.medium-code {
    font-size: 90% !important;
    line-height: 1.1 !important;
}
pre.inline-code {
    display: inline-block;
    margin-left: 50px;
    width: 40%;
    line-height: 1.5em;
    vertical-align: middle;
}
pre.element-list {
    font-size: 40%;
    float: left;
    width: 20%;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
pre.element-list.highlighted {
    background:  rgba(255, 153, 0, 0.15)
}
pre.element-list.fragment.grow.visible {
  -webkit-transform: scale(2) !important;
  -moz-transform: scale(2) !important;
  -ms-transform: scale(2) !important;
  -o-transform: scale(2) !important;
  transform: scale(2) !important;
}
.element-list .fragment.shrink.visible {
  -webkit-transform: scale(0.5) !important;
  -moz-transform: scale(0.5) !important;
  -ms-transform: scale(0.5) !important;
  -o-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
}

div.component-block {
    height: 100px;
    width: 100%;
    position: relative;
    border: 1px solid white;
    display: block;
}


div.component-block-wrapper {
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
}

div.component-block-wrapper.width-15 {
    width: 40%;
    font-size: 70%;
}

div.component-block-wrapper.width-33 {
    width: 27.5%;
    margin-left: 4.0%;
    margin-right:4.0%;
}

div.component-block-wrapper.first {
     margin-left: 0;
}

div.component-block-wrapper.last {
     margin-right: 0;
}

div.component-group.first {
     margin-left: 0;
}

div.component-group.last {
     margin-right: 0;
}


div.component-group {
    display: inline-block;
    width: 28%;
    float: left;
    margin: 0 4%;
}

div.component-block h4 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.component-block h4:before {
     content: "<";
}
div.component-block h4:after {
     content: "/>";
}